body {
    background-color: #8ad3cf;
}

.container {
    width: max-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-keys kbd {
    background-color: #fff;
    display: inline-block;
    height: 20px;
    width: 90px;
    margin-left: -5px;
    border: 1px solid #000;
    padding-top: 250px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "McLaren", bold;
    z-index: 1;
    position: relative;

}

.black-keys kbd {
    display: inline-block;
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    position: absolute;
    top: 30px;
    font-family: "McLaren", bold;
    z-index: 2;
}

.black-keys kbd:nth-child(1) {
    left: 68px;

}

.black-keys kbd:nth-child(2) {
    left: 160px;

}

.black-keys kbd:nth-child(3) {
    left: 342px;
}

.black-keys kbd:nth-child(4) {
    left: 433px;
}

.black-keys kbd:nth-child(5) {
    left: 523px;
}
