body {
    background-color: #b272ee;
    font-family: calibri;
}

.container {
    width: max-content;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

kbd {
    background-color: #fff;
    display: inline-block;
    width: 50px;
    margin-left: -5px;
    border: 1px solid #000;
    padding-top: 200px;
    padding-bottom: 10px;
    text-align: center;
}